body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.about-section, .skills-section, .projects-section, .resume-section, .contact-section {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.skills-section ul {
    list-style: none;
    padding: 0;
}

.skills-section li {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
